# Secrets
*.license
*.key
*.pfx
*.jks
*.pem
keystore_password
truststore_password
secret.key
scancentral-authtoken
scancentral-worker-auth-token
scancentral-client-auth-token
scancentral-ssc-scancentral-ctrl-secret

# Environment
.env

# Data volumes
volumes/data/

# OS files
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
